@using OnlineCoursePortalWeb.Models;
@model CourseViewModel

<tr>
    <td>@Model.CourseName</td>
    <td>@Model.CourseDescription</td>
    <td>@Model.StartDate</td>
    <td>@Model.EndDate</td>
    <td>@Model.AvailableSeats</td>
</tr>
